.page-header {
  position: relative;
  z-index: 3;

  padding: 30px 0;
}

.inner .page-header {

}

.page-header__container {
  @include flex-wrap;
  align-items: center;
}

.page-header__logo {
  max-width: 106px;
}

.page-header__nav {
  max-width: 80%;
  margin-right: 30px;
  margin-left: auto;
}

.page-header--nojs .page-header__nav {

}

.page-header__login {
  line-height: 0;
}

.page-header__login-icon {
  transition: $transition;

  fill: get-color('white');
}

.page-header__login:hover .page-header__login-icon,
.page-header__login:focus .page-header__login-icon {
  fill: get-color('primary');
}

@include to(1000px) {
  .page-header__nav {
    max-width: 70%;
    margin-right: 25px;
  }
}

@include to(800px) {
  .page-header__nav {
    margin-right: 25px;
  }

  .page-header__login-icon {
    width: 25px;
    height: 25px;
  }
}

@include to(768px) {
  .page-header {
    padding: 20px 0;
  }

  .page-header__wrapp {
    position: relative;
  }

  .page-header--nojs .page-header__nav {
    order: 2;

    width: 100%;
    margin: 0;
  }

  .page-header--nojs .page-header__search {
    margin-left: auto;
  }

  .page-header__logo {
    width: 140px;
  }
}

@include to(500px) {
  .page-header--nojs .page-header__logo,
  .page-header--nojs .page-header__search {
    width: 100%;
    margin: 0;
  }

  .page-header--nojs .page-header__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}
