.woocommerce-breadcrumb {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

.woocommerce-breadcrumb ul {

}

.woocommerce-breadcrumb li {

}

.woocommerce-breadcrumb a {
  color: rgba(#000, 0.7);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
